body {
  background-color: white;
  color: black;
  font-size: 17px;
}
input[type="range"] {
  height:15px;
  width:250px;
}
input[type="number"] {
  height:35px;
  width:250px;
  border-radius: 12px;
}
.dark-mode {
  background-color: black;
  color: white;
}
.card-body {
  background-color: white;
  color: black;
}
.form-check-input {
  position: relative;
  left: 10px;
  top: 15px;
}
.form-check-label {
  position: relative;
  left: 15px;
  top: 11px;
}
#save-button {
  position: relative;
  left: 65px;
  top: 10px;
}
